html {
    font-family: Thin, Verdana, Helvetica, sans-serif;
}

* {
    color: var(--secondary-color);
    box-sizing: border-box;
}

body {
    display: flex;
    /* flex-direction: column; */
    margin: 0 auto;
    /* align-items: center; */
    justify-content: space-between;
}

select {
    background: #ecdaae;
    border: #ecdaae;
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* align-items: center; */
    justify-content: space-between;
    background: #ecdaae;
    margin: 0px auto;
    max-width: 1440px;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    /* Запрещаем переносы слов */
    animation: marquee 15s linear infinite;
    /*возврат текста назад - alternate */
    background: #ecdaae;
    padding: 5px;
    width: 70%;
    /* border: #000 2px solid; */
}

.mayakovsky {
    background: #ecdaae;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;
    height: auto;
    padding: 5px 15px;

}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background: #ecdaae;
}

.refresh {
    align-items: center;
}

.refresh_button {
    /* text-align: center; */
    background: #ecdaae;
    border: 1px;
}

.speech {
    max-width: 1024px;
    height: auto;
    align-items: center;
    justify-content: center;
    background: #EDF2EC;
    padding: 10px 15px 10px 15px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1024px;
    padding: 10px;
    background: rgba(153, 159, 32, 0.226);

}

@keyframes marquee {
    from {
        text-indent: 100%;
    }

    to {
        text-indent: -150%;
    }
}

@media(max-width: 1440px) {
    .speech {
        padding: calc(10px * (100vw - 320px)/(1440 - 320));
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .wrapper {
        width: 450px;
    }

    .header {
        width: 450px;
        font-size: 0.8em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .wrapper {
        width: 320px;
    }

    .header {
        flex-wrap: wrap;
        width: 320px;
        font-size: 0.75em;
    }

    .marquee {
        order: -1;
        width: 100%;
    }
}